.DS_Store
.ipynb_checkpoints/
__pycache__/
.env

data/raw/*
!data/raw/.gitkeep

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

*.db
*.sqlite
*.sqlite3
notebooks/*.html
